.body {
  margin: 0;
  padding: 30px;
}

.header {
  display: flex;
  height: min-content;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 45px 0 40px;
}

.header__content {
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.header__line {
  position: relative;
  height: 1px;
  width: 100%;
  margin-top: 18px;
  background: linear-gradient(to left, #73BE43 0, #73BE43 50%, #E9262D 50%, #E9262D 100%);
}

.header__short-line {
  background-color: #E9262D;
  max-width: 385px;
  width: 40%;
  height: 5px;
  position: absolute;
}

.header__logo {
  background-image: url(./images/1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 33px;
}

.tabs {
  display: flex;
}

.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  border: 1px solid #eee;
  max-width: 232px;
  width: 30%;
  max-height: 150px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.tabs__btn {
  padding: 10px;
  text-decoration: none;
  color: black;
  text-align: left;
  flex-shrink: 0;
  flex-grow: 1;
  border: 1px solid #eee;
  cursor: pointer;
  background-color: white;
}

.tabs__btn_active {
  cursor: default;
  color: red;
}

.tabs__btn:not(.tabs__btn_active):hover {
  background-color: #eee;
}

.tabs__content {
  padding: 0 0 0 23px;
  width: 100%;
}

.tabs__list {
  display: none;
}

.tabs__list_show {
  display: block;
}

.tabs__header {
  margin: 0;
  padding-bottom: 15px;
}

.tabs__el {
  padding: 0 0 10px 15px;
  list-style-type: none;
}

.tabs__elements {
  margin: 0;
  border: 1px solid #eee;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

ul li::before {
  content: "-";
  color: #73BE43;
  font-weight: bold;
  display: inline-block;
  width: 15px;
  margin-left: -15px;
}

.tabs__btn-continue {
  width: 189px;
  height: 52px;
  margin: 20px auto 0;
  display: block;
  border-radius: 8px;
  border: 1px solid #cacaca;
}

.tabs__btn-continue:hover:enabled{
  cursor: pointer;
}

.body__header {
  font-weight: 700;
}

.body__line {
  height: 5px;
  width: 100%;
  margin-top: 26px;
  background: linear-gradient(to left, #73BE43 0, #73BE43 50%, #E9262D 50%, #E9262D 100%);
}
